.container{
display: flex;
background-color: aqua;
padding: 5% 10%;
flex-wrap: wrap;
}

.card {
    width: calc(33.33% - 20px); 
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
 @media screen and  {max-width: 900px;
    .card{
        width: calc(50% - 20px);
    }
 }